{% extends 'wrapper.html' %}

{% block content %}


<div class="start">

  <p class="heading">Domegle</p>

  <span class="descrip">
    Peer-to-Peer decentralized Omegle 
  </span>
</div>
<div class="main-buttons">
  <a href="/chat" class="start-chat-button" type="button">
    <i class="fas fa-comments"></i>
    <span class="button-text">Start Chat</span>
  </a>


  <a href="/settings" class="settings-button" type="button">
    <i class="fa fa-gear"></i>
    <span class="button-text">Settings</span>
  </a>
  hi
</div>


  {% endblock %}