<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P Omegle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="wrapper">
      <h1>Welcome to Omegle Clone</h1>
      <div class="chat-window">
        <div class="messages"></div>
        <div class="input-box">
          <input type="text" placeholder="Type your message...">
          <button class="send-btn">Send</button>
        </div>
      </div>
      <button class="start-chat-btn">Start Chat</button>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
